<head>
  <title>Todo List</title>


</head>

<body>
  <div class="container">
    <header>
      <h1>Todo List</h1>
    </header>

    <form class="new-task">
       <input type="text" name="text" placeholder="Type to add new tasks" />
    </form>

    <ul>
      {{#each tasks}}
        {{> task}}
      {{/each}}
    </ul>
  </div>
</body>

<template name="task">
  <!-- <li>{{text}}</li> -->

  <li class="{{#if checked}}checked{{/if}}">
  <button class="delete">&times;</button>

  <input type="checkbox" checked="{{checked}}" class="toggle-checked" />

  <span class="text">{{text}}</span>
  </li>
</template>
